[submodule "src/display"]
	path = src/display
	url = https://github.com/CREST-applications/display-node.git
[submodule "pypleiades"]
	path = pypleiades
	url = https://github.com/CREST-applications/pypleiades.git
